form {
    display: flex;
    margin-left: 60px;
}

.btn-vender {
    margin-top: 40px;
}

.input {
    width: 30em;
    border-color: #3b82c0;
    border-radius: 8px;
}

.card{
    display:grid;
    justify-content: center;
    position: relative;
    font-size: 10px;
    width: 100%;
}

.cardlogin {
    margin-top: 100px;
    display:grid;
    justify-content: center;
    background-color:rgb(244, 251, 255);
    border: ridge;
    position: relative;
    font-size: 12px;
    width: 100%;
    width: 400px;
    height: 400px;
    border-radius: 20px;
}

.nav {
    background-color: #337ab7;
}

a {
    color: aliceblue;
}

ul {
    color: aliceblue;
}


img {

    height: 300px;
    object-fit: cover;
}


body {
    font-family: "Lato", sans-serif;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(180deg, #337ab7, rgb(91, 209, 245));
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: aliceblue;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #337ab7;
    color: aliceblue;
    border: none;
}
.btn {
    padding: 10px 20px;
    background-color: #337ab7;
    color: #f1f1f1;
    border-radius: 5;
    transition: .2s;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

.thumbnail {
    padding: 0 0 15px 0;
    border-radius: 0;
}

.thumbnail p {
    margin-top: 15px;
    color: #555;
}

.footer {
    font-size: 14px;
    cursor: pointer;
    background-color: #3b82c0;
    color: aliceblue;
    border: none;
    margin-top: 50px;
}