<!DOCTYPE html>
<html lang="en">

<head>
    <title>MeLivro</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/geral.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <input id="id_Cliente" value=""readonly hidden>
    <div id="mySidebar" class="sidebar navbar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="#">Seus Cadastros</a>
        <a href="#">Trocados</a>
        <a href="#">Comprados</a>
        <a href="#">Sobre</a>
    </div>
    <nav class="navbar-dark bg-primary">
        <div class="container-fluid">
            <div class="navbar-header">
                
                <a class="navbar-brand"><button class="openbtn" onclick="openNav()">☰ Me Livro</button></a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Todos<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Terror</a></li>
                        <li><a href="#">Aventura</a></li>
                        <li><a href="#">Ficção</a></li>
                        <li><a href="#">Auto ajuda</a></li>
                    </ul>
                </li>
                <li class="active"><a href="./Trocar.html">Trocar</a></li>
                <li><a onclick="goComprar()">Comprar</a></li>
                <li><a onclick="goVender()">Vender</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a onclick="goCadastro()"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="./Login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li><a onclick="goCarrinho()"><img src="../img/carrinho.jpeg" style="width: 30px;height: 30px;"> </a></li>
            </ul>
        </div>
    </nav>

    <div class="container mt-3">
        <h4 class="mt-5" style="margin-top: 50px;">Mais acessados</h4>
        <hr>
        <div class="row">
            <div class="col-sm-4" id="livro1">
                <div class="card text-center">
                    <img class="card text-center" src="" id="foto1">
                    <input id="titulo1" value=""readonly style="text-align: center;font-size: medium;border: 0px;">
                    <div class="card-body text-center">
                        <input id="preco1" value=""readonly  style="text-align: center;font-size: medium;border: 0px;">
                        <button class="btn" id="btnCompra1" onclick="btnCompra1()">Comprar agora</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"  id="livro2">
                <div class="card text-center">
                    <img class="card text-center" src="" id="foto2">
                    <input id="titulo2" value=""readonly  style="text-align: center;font-size: medium;border: 0px;">
                    <div class="card-body text-center">
                        <input id="preco2" value=""readonly  style="text-align: center;font-size: medium;border: 0px;"> 
                        <button class="btn" id="btnCompra2" onclick="btnCompra2()">Comprar agora</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"  id="livro3">
                <div class="card text-center">
                    <img class="card text-center" src="" id="foto3">
                    <input id="titulo3" value=""readonly  style="text-align: center;font-size: medium;border: 0px;">
                    <div class="card-body text-center">
                        <input id="preco3" value=""readonly  style="text-align: center;font-size: medium;border: 0px;">
                        <button class="btn" id="btnCompra3" onclick="btnCompra3()">Comprar agora</button>
                    </div>
                </div>
            </div>
        
        </div>   
        <hr>
        <div class="row">
            <div class="col-sm-4" id="livro4">
                <div class="card text-center">
                    <img class="card text-center" src=""  id="foto4">
                    <input id="titulo4" value=""readonly style="text-align: center;font-size: medium;border: 0px;">
                    <div class="card-body text-center">
                        <input id="preco4" value=""readonly  style="text-align: center;font-size: medium;border: 0px;">
                        <button class="btn" id="btnCompra4" onclick="btnCompra4()">Comprar agora</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"  id="livro5">
                <div class="card text-center">
                    <img class="card text-center" src="" id="foto5">
                    <input id="titulo5" value=""readonly  style="text-align: center;font-size: medium;border: 0px;">
                    <div class="card-body text-center">
                        <input id="preco5" value=""readonly  style="text-align: center;font-size: medium;border: 0px;">
                        <button class="btn" id="btnCompra5" onclick="btnCompra5()">Comprar agora</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"  id="livro6">
                <div class="card text-center">
                    <img class="card text-center" src="" id="foto6"> 
                    <input id="titulo6" value=""readonly  style="text-align: center;font-size: medium;border: 0px;">
                    <div class="card-body text-center">
                        <input id="preco6" value=""readonly  style="text-align: center;font-size: medium;border: 0px;"> 
                        <button class="btn" id="btnCompra6" onclick="btnCompra6()">Comprar agora</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div>
            <div class="row font-weight-bolder">
                <div class="col-4" style="margin-left: 20px;">
                    <img src="../img/LogoMeLivro.png" style="margin-left: 20px;height: 130px;width: 130px;"/>
                </div>
            </div>
            <div class="row">
                <div class="col-4" style="margin-left: 30px;">
                    Fone: (11) 1234-5678
                </div>
            </div>
            <div class="row">
                <div class="col-4"style="margin-left: 30px;">
                    Email: MeLivro@gmail.com
                </div>
            </div>
        </div>
    </footer>
    <!-- </div> -->
</body>
<script type="text/javascript" src="../js/index.js"></script>
<script>
$(document).ready(function(){
    listaLivros();
});
</script>
</html>