<html lang="en">

</html>

<head>
    <title>MeLivro</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/trocar.css">
    <link rel="stylesheet" href="../css/geral.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <input id="id_Cliente" value=""readonly hidden>
    <div id="mySidebar" class="sidebar navbar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="#">Seus Cadastros</a>
        <a href="#">Trocados</a>
        <a href="#">Comprados</a>
        <a href="#">Sobre</a>
    </div>
    <nav class="navbar-dark bg-primary">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand"><button class="openbtn" onclick="openNav()">☰ Me Livro</button></a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Todos<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Terror</a></li>
                        <li><a href="#">Aventura</a></li>
                        <li><a href="#">Ficção</a></li>
                        <li><a href="#">Auto ajuda</a></li>
                    </ul>
                </li>
                <li class="active"><a href="./Trocar.html">Trocar</a></li>
                <li><a onclick="goComprar()">Comprar</a></li>
                <li><a onclick="goVender()">Vender</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a onclick="goCadastro()""><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="./Login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li><a onclick="goCarrinho()"><img src="../img/carrinho.jpeg" style="width: 30px;height: 30px;"> </a></li>
            </ul>

        </div>
    </nav>

    <div class="container mt-3">
        <div class="col">
            <br>
            <h4 class="mt-5" style="margin-top: 50px;">Aceitam trocar por um de seus livros</h4>
            <hr>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card text-center">
                        <img class="card-img-top" src="../img/reriPoti.jpg" alt="Reri Poti">
                        <h4 class="card-title">Harry Potter e o Cálice</h4>
                        <div class="card-body">
                            <p class="card-text">Edição especial</p>
                            <button class="btn">Comprar agora</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-center">
                        <img class="card-img-top" src="../img/felipeNeto.jpg" alt="Felipe Neto">
                        <h4 class="card-title">Felipe Neto</h4>
                        <div class="card-body">
                            <p class="card-text">Depreciado</p>
                            <button class="btn">Comprar agora</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-center">
                        <img class="card-img-top" src="../img/it.jpg" alt="It Malia">
                        <h4 class="card-title">It - A Coisa</h4>
                        <div class="card-body">
                            <p class="card-text">Usado</p>
                            <button class="btn">Comprar agora</button>
                        </div>
                    </div>
                </div>
            </div>

            <h4 class="mt-5" style="margin-top: 50px;">Recomendados</h4>
            <hr>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card text-center">
                        <img class="card-img-top" src="../img/LivroRH.jpg" alt="LivroRH">
                        <h4 class="card-title">Técnico em Recursos Humanos</h4>
                        <div class="card-body">
                            <p class="card-text">Administração</p>
                            <button class="btn">Comprar agora</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-center">
                        <img class="card-img-top" src="../img/manga.jpg" alt="Felipe Neto">
                        <h4 class="card-title">Manga de Darling in the FRANXX</h4>
                        <div class="card-body">
                            <p class="card-text">Coisas de Otaku</p>
                            <button class="btn">Comprar agora</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-center">
                        <img class="card-img-top" src="../img/paraLeigos.jpg" alt="It Malia">
                        <h4 class="card-title">Construindo Web Sites Para Leigos</h4>
                        <div class="card-body">
                            <p class="card-text">Usado</p>
                            <button class="btn">Comprar agora</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <footer class="footer">
        <div>
            <div class="row font-weight-bolder">
                <div class="col-4" style="margin-left: 20px;">
                    <img src="../img/LogoMeLivro.png" style="margin-left: 20px;height: 130px;width: 130px;" />
                </div>
            </div>
            <div class="row">
                <div class="col-4" style="margin-left: 30px;">
                    Fone: (11) 1234-5678
                </div>
            </div>
            <div class="row">
                <div class="col-4" style="margin-left: 30px;">
                    Email: MeLivro@gmail.com
                </div>
            </div>
        </div>
    </footer>
</body>
<script type="text/javascript" src="../js/index.js"></script>

</html>